.div-footer{
    background-color: #00648b;
    color:white;
}

.tag a {
    color: #fff;
    padding: 5px 10px;
    border: 1px solid;
    margin: 2px;
    text-decoration: none;
    font-weight: 500;
}
.tag a:hover{
    color: #000;
    background: #fff;
}